a {
  color: #1a7efb;
  font-weight: 400;
  text-decoration: none;
}

a:focus {
  box-shadow: none;
  outline: none;
}

a:hover {
  color: #1a7efb;
}

#wpcontent {
  padding-left: 0;
  * {
    box-sizing: border-box;
  }

  .wrap {
    margin: 0;
  }
}

#tools-analytic-dashboard {
  .tatp-main-header {
    background-color: #fff;
    padding: 12px 24px;
    border-bottom: 1px solid #eee;
    span {
      font-weight: 600;
      font-size: 20px;
    }
  }
  .tatp-dasboard {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 20px;
    .tatp-header-menu {
      background-color: #fff;
      border-right: 1px solid #dedede;
      padding: 20px 15px;
      ul li a {
        padding: 15px;
        font-weight: 500;
        color: #353537;
        transition: all 0.3s ease;
        display: block;
        text-decoration: none;
        font-size: 16px;
        &.active {
          color: #1a7efb !important;
          border-radius: 5px;
          background-color: #f1f3f4;
        }
        &:hover {
          color: #1a7efb !important;
          border-radius: 5px;
          background-color: #f1f3f4;
        }
      }
    }
    .tatp-dashboard-content {
      padding: 20px 15px;
    }
  }
}
